@font-face {
  font-family: 'euphemia';
  src: local('euphemia'), url(./fonts/euphemia.ttf) format('truetype');
}
body {
  background-color: #FFF9F0;
  margin: 0;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
